</div>
<div class="container">
  <div class="row justify-content-center align-items-center g-2">
    <div class="col-10">
      <h1 style="text-align: center;" id="about">About US</h1>
      <p style="font-size: 12px; line-height: 22px; letter-spacing: 2px;">I am Full Stack Developer ranging my experience with different Stacks. The Purpose of this website is to provide the community to publish their journals.
        Here you can publish your journal and more over you can view other articles and share your articles with your family and friends.</p>

    </div>

  </div>
  <hr class="my-5" />
  <div class="row justify-content-center align-items-center g-2 my-4">
    <div class="col-10" style="text-align: center;">
      <h1 id="contact">Contact US</h1>
      <p style="font-size: 12px; line-height: 22px; letter-spacing: 2px;">In case of any help or questions you Can Follow Me Social Media Links provided Below.</p>
    </div>
  </div>
</div>
<div style="height: 50px;">

</div>
<!-- Footer -->
<!-- Footer -->
<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com/habibur57721331?t=CsFwo1JO-G0WVWjsdOU3eg&s=09" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="mailto:habib.gcu10@gmail.com" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="https://instagram.com/habib_ur_rehman1030?igshid=YmMyMTA2M2Y=" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/in/habib-ur-rehman-582a1322a/" role="button"><i class="fab fa-linkedin-in"></i></a>
      <!-- Github -->
      <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="https://github.com/habib-uet" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright Habib Ur Rehman
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- Footer -->
<!-- Bootstrap JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
</script>
<script src="/static/js/smoothAnchor.js"></script>
</body>

</html>