<%- include('partials/header'); -%>
<div class="container" id="">
  <div class="row">
    <div class="col-12 my-5 justify-content-center align-items-center g-2">
      <h1 style="text-align: center;"><%= title %> </h1>
    </div>

  </div>
  <div class="row justify-content-center align-items-center g-2">
    <div class="col">
      <p><%= content %> </p>
    </div>
  </div>
</div>
<div style="height: 100px;"></div>
<hr style=" margin: 0 auto;width: 7%;
border-style: dotted none none;
border-width: 10px;
border-color: black;
background-color: white;
" class="my-4">
<div style="height: 200px;">


  <%- include('partials/footer'); -%>